streamlit
libgl1-mesa-glx
opencv-python
easyocr
numpy
Pillow
requests
transformers
groq
fuzzywuzzy
# paddleocr    
# paddlepaddle-gpu
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu118